<div class="data-list">
			<div class="wrap">
				<div>
					<h3>{{'Estimated Value'|translate}}:{{container.param.estimatedValue}}&nbsp;{{'USD'|translate}}</h3>
				</div>
				<div class="search-bar">
					<input type="text" value="" placeholder="{{'Find'|translate}}" ng-model="container.seachFitter" />
				</div>
				<table class="data-table min-dis" style="width: 100%;" ng-init="fetchPrice()">
					<thead>
						<tr class="bg-dark">
							<th>{{'Coin'|translate}}</th>
							<th>{{'Coin Name'|translate}}</th>
							<th>{{'Address'|translate}}</th>
							<th>{{'Balance'|translate}}</th>
							<th>{{'USD'|translate}}</th>
							<th>{{'Send'|translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="asset in container.user.assetList | limitTo : 20 track by $index" ng-init="fetchBalance(asset)" >
							<td><img ng-src={{asset.img}} style="max-width: 20px">&nbsp;{{asset.coin}}</td>
							<td>{{asset.name}}</td>
							<td><div ng-click="showQRCode($event,asset.address)"><i class="fas fa-qrcode"></i>{{asset.address}}</div></td>
							<td>{{asset.balance}}</td>
							<td>{{asset.price}} $</td>
                            <td>
								<button type="button" ng-click="openTransfer(asset)" class="btn btn-sm btn-secondary">{{'Send'|translate}}</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
</div> 