<footer class="">
			<div class="foot-link">
				<div class="right-side">
					<a href="javascript:;" class="ico-telegram"></a>
					<a href="javascript:;" class="ico-twitter"></a>
				</div>
				<div class="left-side clear">
					<a class="links" href="javascript:;">{{'About us'|translate}}</a>
					<a class="links" href="javascript:;">{{'Service agreement'|translate}}</a>
					<a class="links" href="javascript:;">{{'Privacy'|translate}}</a>
					<a class="links" href="javascript:;">{{'Charge Standard'|translate}}</a>
					<a class="links" href="javascript:;">{{'Contact us'|translate}}</a>
					<a class="links" href="javascript:;">{{'API documents'|translate}}</a>
					<a class="links" href="javascript:;">{{'Application'|translate}}</a>
					<a class="links" href="javascript:;">{{'Download'|translate}}</a>
				</div>
			</div>
			<div class="foot-info">
				<p>Copyright © 2015-2018 Blockchainsolution Corporation. All rights reserved.</p>
			</div>
</footer>