        <header>
			<div class="left-side rebox">
				<a class="main-item logo" href="javascript:;"></a>
				<a class="main-item min-dis" href="/manual.pptx">{{'Download Operate Manual'|translate}}</a>
				<a class="main-item min-dis" href="javascript:;" ng-click="changeCurrentPage('marketList')">{{'Market Center'|translate}}</a>
				
				
			</div>
			<div class="right-side min-dis">
				<div>
					<div class="handle-div">
						<select style="color: #0f8dbc;" ng-model="c_lang" ng-change="switch_language(c_lang)" ng-options="c_lang.value as c_lang.name for c_lang in languages" ng-selected="c_lang.value==c_lang">
						</select>
					</div>
				</div>
				<div class="menu-list" ng-init="isShow = false" ng-mouseleave="handleMenu2()" >
					<div class="handle-div" ng-mouseover="handleMenu()">{{'Wallet'|translate}}</div>
					<ul ng-show="isShow">
						<li><a class="main-item" href="#" ng-show="container.user.islogin" ng-click="changeCurrentPage('assetList')">{{'My Wallet'|translate}}</a></li>
						<li><a class="main-item" href="#" ng-show="container.user.islogin" ng-click="clearStorage()">{{'Clear Wallet'|translate}}</a></li>
						<li><a class="main-item" href="#" ng-show="container.user.islogin" ng-click="outputAccount()">{{'Export Wallet'|translate}}</a></li>
						<li><a class="main-item" href="#" ng-show="!container.user.islogin" ng-click="showSignupModal()">{{'New Wallet'|translate}}</a></li>
						<li><a class="main-item" href="#" ng-show="!container.user.islogin" ng-click="showImportModal()">{{'Import Wallet'|translate}}</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="bottom-nav visible-xs visible-sm">
			<div class="opts">
				<a class="opts-group active" href="javascript:;">
					<i class="fa fa-home" aria-hidden="true"></i><span>{{'Home'|translate}}</span>
				</a>
				<a class="opts-group" href="/main.html">
				    <i class="fa fa-area-chart" aria-hidden="true"></i><span>{{'Market'|translate}}</span>
				</a>
				<a class="opts-group " href="javascript:;">
				    <i class="fa fa-bullhorn" aria-hidden="true"></i><span>{{'Notice'|translate}}</span>
				</a>
				<a class="opts-group " href="javascript:;">
				    <i class="fa fa-globe " aria-hidden="true"></i><span>{{'Language'|translate}}</span>
				</a>
				<a class="opts-group " href="home/register.html">
			    	<i class="fa fa-user-circle" aria-hidden="true"></i><span>{{'Register'|translate}}</span>
				</a>
			</div>
		</div>
		<div class="main">			
			<div class="banner">
				<div class="banner-title">{{'Exchange the World'|translate}}</div>	
				<div class="wrap">
				</div>
			</div>
			<div class="info-bar">
				<div class="wrap">
					<a class="" href="javascript:;">{{'Lists Dock'|translate}} (DOCK)</a>
					<a class="" href="javascript:;">{{'Completes ONT Mainnet Swap'|translate}}</a>
					<a class="" href="javascript:;">{{'VIB Competition Has Now Concluded'|translate}}</a>
				</div>
			</div>
		</div> 

		<transfer></transfer>
		<signup></signup>
		<import></import>
		
		<!-- main -->
