<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:673px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                <h4 class="modal-title">
                     {{'Import in to your Wallet'|translate}}
                </h4>
            </div>

            <div class="modal-body">

                <div id="login-page">
                    <div id="explanation-text">
                         {{'Exchange Center IS A DECENTRALIZED EXCHANGE'|translate}}
                    </div>
                    <div id="formContainer">

                        <form id="login-form" action="" method="POST">
                            <label for="address"></label><br>
                            <input type="text" name="address" id="address" size="30" maxlength="100" placeholder="{{'Please input your mnemonic'|translate}}" ng-model="container.user.wallet.mnemonic"/>
                            <br>
                            <input type="password" name="password" id="password" placeholder="{{'Passwords must be at least 8 characters'|translate}}" ng-model="container.user.password" />
                            <input type="password" name="repeatPassword" id="repeatPassword" placeholder="{{'Repeat wallet password'|translate}}" ng-model="container.user.repeatPassword"/>

                            <div class="verify-box">
                                <button type="button" ng-click="getverifyCode()" class="verify-test" >{{'Update verification code'|translate}}</button>
                                <input id="verify-input" class="verify-input" type="text" maxlength="4" placeholder="">
                                <img class="verifyImg" ng-src="{{container.captchapng}}" />
                            </div>
                            <input class="fr" type="button" data-dismiss="modal" aria-hidden="true" id="login-submit-button" name="submit-button" value="{{'Import wallet'|translate}}" ng-click="importWallet()">

                            <div class="clear"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>