		<!-- 市场资讯列表区块 -->
		<div class="data-list">
			<div class="wrap">
				<div class="search-bar">
					<input type="text" value="" placeholder="{{'Find'|translate}}" ng-model="container.seachFitter" />
				</div>
				<!-- 分页选单 -->
				<ul class="tab-bar">
					<li class="tab-1 active">{{'All Markets'|translate}}</li>
					<li class="tab-1">{{'Other'|translate}}</label></li>
				</ul>
				
				<table class="data-table min-dis" style="width: 100%;">
					<thead>
						<tr class="bg-dark">
							<th class="title-star"></th>
							<th class="title-market">{{'Market'|translate}}</th>
							<th class="title-coin">{{'Coin'|translate}}</th>
							<th class="title-newPrice">{{'Last price'|translate}}</th>
							<th class="title-income">{{'24h Updown'|translate}}</th>
							<th class="title-high">{{'24h Max'|translate}}</th>
							<th class="title-low">{{'24h Min'|translate}}</th>
							<th class="title-amount">{{'24h Volume'|translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="marketInfo in container.market.marketStatus | limitTo : 20 track by $index" ng-click="redirectExchange(marketInfo)" ng-show="queryFilter(marketInfo)">
							<td  ng-click="marketFavorite($event)">
								<div class="ico-star">
									<input id="star{{$index}}" type="checkbox"  ng-click="marketFavoriteEx($event , marketInfo)" ng-checked="favoriteCheck(marketInfo)">
									<label for="star{{$index}}" ></label>
								</div>								
							</td>
							<td>{{marketInfo.market}}</td>
							<td>{{marketInfo.coin}}</td>
							<td>{{marketInfo.result.last}} / <span class="color-gray">${{marketInfo.result.last * 2.0}}</span></td>
							<td class="color-g">{{marketInfo.result.swing.toFixed(2)}}%</td>
							<td>{{marketInfo.result.high}}</td>
							<td>{{marketInfo.result.low}}</td>
							<td>{{marketInfo.result.volume}}</td>
						</tr>
					</tbody>
				</table>
			</div>
</div> 