<!-- 模态框（Modal） -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#26343C;">
            <div class="modal-header" style="color:#fff;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#fff;">
                        &times;
                    </button>
                <h4 class="modal-title" id="signupModalLabel">
                     {{'Create your Exchange Center Wallet'|translate}}
                </h4>
                </h4>
            </div>
            <div class="modal-body">

                <div id="login-page">
                    <div id="explanation-text" style="font-size:16px;">
                        <span style="font-size:35px;">{{'WELCOME TO Exchange Center '|translate}}</span>
                        <BR> {{'It Is A Decentralized Exchange Built'|translate}}
                    </div>
                    <div id="formContainer">
                        
                            <div id="account">
                                <div class="alert alert-warning" style="word-break: break-all;padding:6px;background-color:#122028;">
                                    <input type="password" name="password" id="signup_password" size="53" maxlength="100" placeholder="{{'Passwords must be at least 8 characters'|translate}}" ng-model="container.user.password" />
                                </div>
                                <div class="alert alert-warning" style="word-break: break-all;padding:6px;background-color:#122028;">
                                      <input type="password" name="repeatPassword" id="signup_repeatPassword" size="53" maxlength="100" placeholder="{{'Repeat wallet password'|translate}}" ng-model="container.user.repeatPassword" />
                               </div>
                            </div>
                            <div class="verify-box">
                                <button type="button" ng-click="getverifyCode()" class="verify-test" >{{'Update verification code'|translate}}</button>
                                <input id="verify-input2" class="verify-input" type="text" maxlength="4" placeholder="">
                                <img class="verifyImg" ng-src="{{container.captchapng}}" />
                            </div>
                            <input style="background-color: #5671c0" class="fr" type="button" data-dismiss="modal" aria-hidden="true" id="signup-submit-button" name="submit-button" value="{{'Create wallet'|translate}}" ng-click="newAccount()">
                            <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.modal -->

</div>