<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    {{'Send'|translate}} <span>
                              {{"Balance"|translate}}  :  {{container.param.currentAsset.balance}}  {{container.param.currentAsset.coin}} </span>
                </h4>
            </div>
            <div class="modal-body">

                <div class="total">
                    <div class="balance-show">
                        <span class="topic"> {{"Size"|translate}}:</span>
                    </div>
                    <div class="input-group">
                        <input name="amount" type="number" limit-to="12,8" min="0" max="{{container.param.currentAsset.balance}}" class="form-control" ng-model="container.param.transferSize" />
                        <span class="input-group-btn">
                            <button style="visibility:hidden" class="btn btn-secondary" type="button" ng-click="" ></button>
                        </span>
                    </div>
                </div>
                <div class="total">
                    <div class="balance-show">
                        <span class="topic"> {{"To"|translate}}:</span>
                    </div>
                    <div class="input-group">
                        <input name="amount" type="text" class="form-control" ng-model="container.param.toAddress" />
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" ng-click="transfer()">{{'Send'|translate }}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>