
    
<div class="title min-dis">
    <span>{{'Sell Order Book'|translate }}</span>
    <span class="summary">{{container.params.money}}-{{container.params.asset}}</span>
</div>
<div class="table-box" style="height: 360px">
    <div class="table-container">
        <div class="right-table">
            <table class="main-table" style="width: 100%;table-layout: fixed;" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="">{{'Amount'|translate }}</th>
                        <th>{{'Total'|translate }}</th>
                        <th>{{'Price'|translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="orderBook in container.market.orderBookSell.orders | limitTo : 25 track by $index" ng-click="setSellValue(orderBook)" style="cursor: pointer;">
                        <td class="amount" style="color:#fff;">{{orderBook.left | number : 8}}</td>
                        <td>{{orderBook.left * orderBook.price | number : 8}}</td>
                        <td class="num-red">
                            <sapn class="ng-binding">{{orderBook.price | number : 8}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
  