.clearfix::before, .clearfix::after{
    content: " ";
    display: table;
}
.clearfix::after{
    clear: both;
}

.text-wheight{

}


.qrcode-dialog{
        width: 50%;
    margin-left: 25%;
}
@media (max-width: 991px) {
    /********  顶部区块 *********/
    .logo {
        width:240px;
        height: 46px;
        background: url(../images/logo.png) left / 230px no-repeat;
        background-size: contain;
        border-right: none;
        margin-left:50%;
        left:-120px;
    }

    .rebox{
        position: relative;
    }
    .appion-b{
        position: absolute;
        top: 0;
        left: 0;
        border-right: none;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
    .appion-i{
        position: absolute;
        top: 0;
        right: 0;
        border-right: none;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
    }
    /********  中部区块 *********/
    .banner {
        height: 232px;
    }

    .info-bar a {
        display: block;
        border-bottom: solid 1px #3f4348;
        color: rgb(204, 204, 204);
        font-size: 12px;
        margin: 0;
        float: none;
        text-align: center;
    }
    /********  底部区块 *********/
    .foot-link {
        margin: 0 auto;
        line-height: 30px;
        height:auto;
        border-bottom: 1px solid rgb(55, 56, 57);
    }
    .left-side {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .left-side .links{
        float: left;
    }
    .right-side {
        float: none;
        margin: 0 auto;
        padding-top:10px;
        text-align: center;
    }
    .foot-info p{
        padding: 5px 30px;
        line-height: 20px;
        text-align: center;
        white-space:pre-wrap ;
        word-wrap:break-word;
        word-break:break-all;
    }
    /********  底部导航 *********/
    .min-dis{display: none;}
    .bottom-nav {
        position: fixed;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 49px;
        line-height: 49px;
        background-color: #fff;
        box-shadow: 0 -1px rgba(0,0,0,0.1), 0 -2px 10px rgba(0,0,0,0.1);
        z-index: 9999;
    }
    .bottom-nav .opts {
        float: left;
        display: inline-block;
        margin: 0;
        width: 100%;
    }
    .bottom-nav .opts a {
        text-decoration: none;
    }

    .bottom-nav .opts-group {
        position: relative;
        display: inline-block;
        padding-top: 6px;
        line-height: 20px;
        color: #484e56;
        width: 20%;
        cursor: pointer;
    }
    .bottom-nav .opts-group i{
        font-size: 20px;
    }
    .sf-header .fa {
        font-size: 20px;
    }
    .bottom-nav .opts-group span {
        font-size: 12px;
        display: block;
    }
    .hidden {
        display: none !important;
        visibility: hidden !important;
    }
    .bottom-nav .active {
        color: #3487e5;
    }
    /********  查询 *********/
    .data-list .wrap {
        padding: 8px 0;
    }
    .search-bar {
        width:auto;
        height: 40px;
        float: none;
        color: #999;
        margin: 0 8px 8px;
        background: url(../images/icon-zoom.png) 4px center / 18px no-repeat #fff;
        padding: 5px;
        border: solid 1px #eee;
        -moz-box-shadow:1px 1px 1px #bbb inset;               /* For Firefox3.6+ */
        -webkit-box-shadow:1px 1px 1px #bbb inset;            /* For Chrome5+, Safari5+ */
        box-shadow:1px 1px 1px #bbb inset;                    /* For Latest Opera */
    }
    .search-bar>input {
        border: none;
        width: 100%;
        margin-left: 0px;
        line-height: 30px;
        text-indent: 30px;
        color: #444;
        background-color: transparent;
    }
    /********  ELOT *********/
    .data-list {
        min-height: auto;
    }
    .data-list .tab-bar {
        background-color: #262626;
        /* border-bottom: 1px solid #ddd; */
    }
    .data-list .tab-bar li {
        border-right: solid 1px #666;
        border-top: none;
        border-left: none;
        border-bottom: none;
        padding: 5px 10px;
    }
    .data-list .tab-bar li.active {
        border-right: solid 1px #f5bc00;
    }
    .list-panel h1{
        display: inline-block;
        font-size: 1.2em;
        font-weight: 600;
    }
    .list-panel h1 i{
       margin-left: 10px;
        color: #999;
        font-size: 0.8em;
    }
    .ico-star{
        display: inline-block;
        float: right;
    }


    /********  注册页面 *********/

    .reg-box {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .reg-box .logo {
        display: inline-block;
        width: 90%;
        background-position: center;
        margin: 0 0 14px;
        background-size: contain;
    }
    .Regform_checkMsg {
        width: 80%;
        min-width: 300px;
    }
    .reg-box .input-box {
        width: 80%;
        min-width: 300px;
    }


    /********  交易页面 *********/
    .btn-user{
        display: none;
    }
    .header-right-inner>div.right {
        display: none;
    }
}

@media (min-width: 992px) {
    .bottom-nav{
        display: none;
    }
    .appion-i{
        display: none !important;
    }
    .data-list-min{
        display: none !important;
    }

}






/********  ELOT *********/
.bg-dark th{
    background:#484e56;
}


.list-panel{
    display: block;
    background: #fff;
    /*
    border-bottom: solid 1px #ddd;
    */
    font-size: 1.2em;
    padding: 10px 10px;
}
.list-panel a{
    color: #000;
}
.list-panel span{
    float: right;
    font-size: large;
    color: #ddd;
}
.data-list .data-table-min {
    border-top: thin solid #262626;
}
.data-table .left{
    text-align: left;
}
.data-table .right{
    text-align: right;
}
.data-table .font-bold{

    font-weight: bold;
}
.data-table-min th , .data-table-min td{
    padding: 3px 10px;
}
.data-table th {
    border-bottom: thin solid #373b3e;
    color: #999;
}
.data-table-min tr>td {
    background: #373b3e;
    color: #d6d6d6;
}
.data-table-min tr {
    cursor: pointer;
    border-bottom: 1px solid #44474a;
}
.data-table-min tr>td span.color-g {
    background-color: rgb(112, 168, 0);
    color: #fff;
    padding: 10px 8px;
    border-radius: 2px ;
}

.data-table-min tr>td span.coin-name{
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
}
.data-table-min tr>td span.last-price{
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
}