/*body{
	width: 100%;
	min-height: 800px;
	background: url(../images/bggggg.jpg) top center no-repeat;
}
div{border: thin solid #ccc;}*/


.wrap{
	box-sizing: border-box;
    max-width: 1200px;
    /*min-height: 300px;*/
	margin: 0 auto;
}

header {
    width: 100%;
    height: 48px;
    background-color: #404040;
    border-bottom: 2px solid #525252;
}

.main{
    /*
	height: 378px;
	*/
}

.data-list {
    min-height: 400px;
    background-color: #f7f7f7;
}
.data-list .wrap {
    padding: 13px 0;
}
.data-list .tab-bar {
    /*border-bottom: 1px solid #ddd;*/
}
.data-list .tab-bar li {
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    border: thin solid #ddd;
    border-bottom: transparent;
    min-width: 80px;
    text-align: center;
    font-size: 16px;
    color: #666;
    font-weight: bold;
    padding: 0 10px;
}
.data-list .tab-bar li.active{color: rgb(245, 188, 0);}
.data-list .data-table {
    background-color: #fff;
    border-top: thin solid #eee;
}
.data-table thead{}
.data-table tr {
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.data-table tr:hover {
	background-color: #fdf7ec;
}
.data-table th {
    line-height: 29px;
    border-bottom: thin solid #ddd;
    text-align: left;
    letter-spacing: 0.1em;
    color: #777;
}
.data-table td{}
.data-table th>td{}
.data-table tr>td {
    line-height: 30px;
    color: #666;
}
.title-star {
    width: 44px;
}
.title-market {
    width: 140px;
}
.title-coin {
    width: 186px;
}
.title-newPrice {
    width: 238px;
}
.title-income {
    width: 158px;
}
.title-high {
    width: 170px;
}
.title-low {
    width: 160px;
}
.title-amount{}

.data-table tr>td.color-r: {
	cololr:#333;
}
.data-table tr>td.color-g{
    padding-left: 6px;
    color: rgb(112, 168, 0);
}
.data-table tr>td.color-b{
	cololr:#333;
}
.banner{
	width: 100%;
	height: 332px;
	background: url(../images/banner1.jpg) center no-repeat;	
}
.info-bar{
	text-align: center;
    line-height: 42px;
    -webkit-box-align: center;
    background-color: rgb(38, 38, 38);
    position: relative;
    /*
    min-width: 1160px;
    */
}
.info-bar a{
    color: rgb(204, 204, 204);
    font-size: 12px;
    margin: 0 60px;
}
.color-gray{
    margin-left: 3px;
    color: rgb(153, 153, 153);
}
.ico-star label{
	cursor: pointer;
	display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 19px;
    height: 19px;
    background: url(../images/icon-star.png) right center / 38px no-repeat;
}
.ico-star input{display: none;}
.ico-star input[type="checkbox"]:checked + label{
	background-position: left center;
}
.search-bar {
    width: 149px;
    height: 26px;
    float: right;
    color: #999;
    margin-top: 4px;
    background: url(../images/icon-zoom.png) 4px center / 18px no-repeat #fff;
    border: solid 1px #ddd;
    padding: 2px;
    /*
    margin-right: 10px;
    */
}
.search-bar>input {
    border: none;
    width: 120px;
    margin-left: 24px;
    line-height: 22px;
    text-indent: 8px;
    color: #444;
}
.left-side{
	float: left;
}
.right-side{
	float: right;
}
.right-side>div{
	float: right;
}
.menu-list{
    position: relative;
}

.handle-div{
    color:rgb(188, 188, 188);
    width: 152px;
    font-size:15px;
    text-align:center;
    height:46px;
    line-height:46px;
    border-right:thin solid #505050;
    border-left:thin solid #505050;
    cursor: pointer;
}

.handle-div:hover{
    color:#23527c;
}
.menu-list ul{
    position: absolute;
    border-top:thin solid #505050;
    width: 152px;
    top:46px;
    left:0px;
    background: #404040
}
.menu-list ul li{
    border-right: thin solid #505050;
    text-align: center
}
.menu-list ul li a{
    border-right: none;
    padding: 0 5px;
    
}

.main-item {
    display: inline-block;
    vertical-align: top;
    line-height: 46px;
    font-size: 15px;
    padding: 0 50px;
    color: rgb(188, 188, 188);
    border-right: thin solid #505050;
    margin-left: -4px;
}
.foot-link {
    /*
    width: 1200px;
    */
    margin: 0 auto;
    line-height: 46px;
    height: 46px;
    border-bottom: 1px solid rgb(55, 56, 57);
}
.foot-info {
    /*
    width: 1200px;
    */
    margin: 0 auto;
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid rgb(55, 56, 57);
    font-size: 12px;
}
footer{
    font-size: 12px;
    background-color: rgb(30, 32, 34);
    color: rgb(188, 188, 188);
    font-size: 14px;
    /*
    min-width: 1160px;
    */
    white-space: nowrap;
    padding: 10px 0;
}
.links{
	color: #ccc;
	padding: 14px;
}
.main {
    /*
    height: 378px;
    */
    background-color: #161616;
}
.ico-telegram {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/icon-telegram.png) center / 100% no-repeat;
    margin: 0 8px;
}
.ico-twitter{
	display: inline-block;
    width: 28px;
    height: 28px;
	background: url(../images/icon-twitter.png) center / 100% no-repeat;
    margin: 0 8px;
}
.logo {
    width: 240px;
    height: 46px;
    background: url(../images/logo.png) left / 230px no-repeat;
    margin-left: 26px;

}
.banner-title {
    text-align: center;
    font-size: 32px;
    padding-top: 136px;
    color: #b5e2ff;
    font-weight: bold;
    text-shadow: 1px 1px 3px #666;
}


/*** register page ***/
.reg-box{
    width: 50%;
	max-width: 518px;
    padding: 30px 30px 40px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 55%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%,0);
    margin-top: -41px;
}
.reg-box .logo {
    width: 100%;
    background-position: center;
    margin: 0 0 14px;
    background-size: 300px auto;
}
.reg-box h2{
    width:100%;
    margin: 0 auto 30px;
    /*
    padding: 0 30px;
    */
    background: #fff;
    position: relative;
    z-index: 99;
}
.reg-box .reg-title{
    display: inline-block;
    width: 100px;
    background-color: #fff;
    position: relative;
    z-index: 99;
    color: #888;
}
.reg-box h2:after{
	content: " ";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #f1f1f1;
    position: absolute;
    left: 0;
    top: 50%;	
}
.reg-box .input-box{
    position: relative;
    display: inline-block;
    width: 70%;
    height: 38px;
    line-height: 38px;
    /*
    padding: 0 10px 0 40px;
    */
    background-color: #fff!important;
    background-position: 11px 13px;
    background-repeat: no-repeat!important;
    border: 1px solid #d4d4d4;
    font-size: 14px;
    color: #333;
    margin-bottom: 12px;
}
.reg-box .input-box > input {
    width: 90%;
        width:-moz-calc(100% - (10px + 10px) * 2);
        width:-webkit-calc(100% - (10px + 10px) * 2);
        width: calc(100% - (10px + 10px) * 2);
    height: 37px;
    border: none;
    /*
    text-indent: 40px;
    */
    margin-left: 40px;
}
.reg-box .input-icon {
    position: absolute;
    display: inline-block;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    /* margin-left: -39px; */
    left: 0;
}
.reg-box .icon-mail{
    background-image: url(../images/pic_fillemail.png);
    background-position: 9px 14px;
}
.reg-box .icon-lock{
background-image: url(../images/pic_pwd.png);
    background-position: 11px 10px;
}
.reg-box .icon-man{
	background-image: url(../images/agent.png);
    background-position: 7px 7px;
}
.term-box {
    margin-bottom: 22px;
}
.term-box>input{ vertical-align: top; }
.term-box>label{ vertical-align: top; }
.reg-box .btn-reg{
    width: 104px;
    line-height: 32px;
    background-color: #338bef;
    border: 1px solid #1076ea;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
}

.Regform_checkMsg {
    display: inline-block;
    height: auto;
    line-height: 1.2;
    font-size: 14px;
    color: #ff0000;
    width: 70%;
    word-break: break-word;
    white-space: normal;
    text-align: left;
    /*
    padding: 0 10px 0 100px;
    */
    margin-bottom: 12px;
}