html,
body,
#app {
    width: 100%;
    height: 100%;
    background-color: #0e191f;
    overflow: auto;  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0);
    z-index: 4000;
}
#loading #loader {
    position: absolute;
    height: 2px;
    width: 95%;
    border-radius: 5px;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear-gradient(to left, #1ee95d, #5714ce));
    background: linear-gradient(to left, #1ee95d, #5714ce);
    -webkit-animation: line-grow 7s ease-in-out  ;
     animation: line-grow 7s ease-in-out  ;
}

@-webkit-keyframes line-grow {
    0% {
    width: 0;
   }
    100% {
        width: 95%;
   }
}
@keyframes line-grow {
    0% {
        width: 0;
       }
    100% {
        width: 95%;
       }
}
body {
    font-size: 14px;
    /*font-family: 'Open Sans', 'PingFangTC', 'Arial', 'Heiti TC', 'Microsoft Jhenghei', sans-serif;*/
    letter-spacing: 1px;
    min-width: 1366px;
    /*position: relative;*/

}

*{
    font-family: 'Roboto', sans-serif ,'Microsoft YaHei';
}

.bootbox-body{
color: white;
}

::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}

.header {
    width: 100%;
    /*height: 60px;*/
    /*overflow: hidden;*/
    z-index: 3;
}
.inline-box{
    display: inline-block;
    color: #ccc;
    margin-left: 16px;color:##8ec919;
    line-height: 15px;
    text-align: center;
    font-size: 14px;    
    padding: 4px 0;
}
.inline-box .little,
.inline-box .percent{
    color:#8ec919;
}
.inline-box .num-title{
    display: block;
    font-size: 12px;
    color: #888;
}
/* .header>div {
    float: left;
} */
.num-green{ color: #8ec919 !important;}
.num-red{color: #ff4d5c;}
.header-top {
    display: block;
    height: 54px;
    background-color: #122652;
    overflow: hidden;
    background: #104772;
    background: -moz-linear-gradient(top, #104772 32%, #122652 90%);
    background: -webkit-linear-gradient(top, #104772 32%,#122652 90%);
    background: linear-gradient(to bottom, #104772 32%,#122652 90%);
}
.info-header {
    width: 54%;
    background-color: #07183e;
}
.logo {
    float: left;
    position: relative;
    padding: 0 10px;
    z-index: 1;
    height: 54px;
    /*
    overflow: hidden;
    */
    background: #122652;
    background: #104772;
    background: -moz-linear-gradient(top, #104772 32%, #122652 90%);
    background: -webkit-linear-gradient(top, #104772 32%,#122652 90%);
    background: linear-gradient(to bottom, #104772 32%,#122652 90%);
}
.logo-name {
    color: #4f98ea;
    display: inline-block;
    font-size: 24px;
    vertical-align: 7px;
    font-weight: bold;
    text-shadow: 1px 2px 3px #333;
}
.logo-inner {
    display: inline-block;
     padding-top: 0px;
}

.logo:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo img {
    width: auto;
    height: 50px;
}
.card-drop ul{top:-18px !important; margin-top: -1px;}
.card-drop ul li{line-height: 50px !important;}
.card-drop ul li.active a {
    font-size: 15px;
    border-bottom: 1px solid #333e44;
    line-height: 60px;
    cursor: pointer;
}
.header-right-inner>div {
    float: left;
    right: 140px;
}
/*.btn-user .card-drop a{height: 50px;}*/
.text-account {
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    height: 19px;
    position: absolute;
    top: 17px;
    left: 0;
    text-indent: 86px;
    width: 100%;
}
.ethAdd {
    display: block;
    color: #00f3ff;
    font-size: 15px;
}
.hearder-title2 {
    color: #ccc;
    font-size: 12px;
    display: inline-block;
    vertical-align: 4px;
    margin-right: 10px;
}
.hearder-title2 .select-title{
    font-size: 16px;
    color: #0f8dbc;
    padding: 16px 0 16px 11px;
    margin-right: 2px;
    font-weight: bold;
}
.hearder-title2 .select-word {
    color: #474f69;
    display: inline-block;
    border-left: thin solid #212327;
    line-height: 48px;
    padding-left: 8px;
}
.right1 {
    width: 160px;
    height: 100%;
    margin-right: 15px;
    position: relative;
    z-index: 2;
    border-left: 1px solid rgba(94, 108, 117, .3);
    border-right: 1px solid rgba(94, 108, 117, .3);
}

.right1 .word {
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
}

.right1 .word:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0f8dbc;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
    opacity: 0;
    z-index: -1;
}

.right1 .word:hover:after {
    opacity: 0.3;
}

.right1 .word span {
    display: inline-block;
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #AAB9C2;
    line-height: 17px;
}

.right1 .word div {
    height: 17px;
}

.right2,
.right3 {
    padding: 10px 15px 5px 15px;
    font-size: 18px;
}

.right2 .little {
    color: #fff;
    transition: .2s color;
}

.small {
    height: 17px;
}

.small span {
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #5E6C75;
}

.right3 .percent {
    /*color: #0f8dbc;*/
    color: #fff;
    font-size: 18px;
}

.right4 {
    padding: 5px 15px;
}

.right4-inner {
    position: relative;
    /*padding: 10px 15px;*/
    display: inline-block;
}

.right4-inner .name a {
    font-size: 18px;
    color: #0f8dbc;
}

.user-img {
    position: absolute;
    top: 10px;
    margin-right: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(94, 108, 117);
}

.right4-inner select {
    margin-left: 30px;
}

select {
    color: #0f8dbc;
    border: 0px solid rgb(169, 169, 169);
    overflow: visible;
    /*font-family: Arial;*/
    background-color: transparent;
    font-size: 18px;
}

.right5 {
    padding: 10px 0;
    float: right !important;
    padding: 10px 40px 5px 20px;
}

.right5 .word {
    /*padding: 10px 15px;*/
    font-size: 18px;
    color: #fff;
}

.right5 .word:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0f8dbc;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
    opacity: 0;
    z-index: -1;
}

.right5 .word:hover:after {
    opacity: 0.3;
}

.right5 .word span {
    display: inline-block;
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #AAB9C2;
    line-height: 17px;
}

.right5 .word div {
    height: 17px;
}

.right6 {
    padding: 10px 0;
    /*color: #fff;*/
    float: right !important;
    position: absolute;
    right: 260px;
    z-index: 1000
}

.right6>.rigin6-no {
    color: #fff;
}

.right7 {
    position: absolute;
    width: 220px;
    height: 350px;
    background-color: #a4a4a4;
    text-align: center;
    top: 75px;
    z-index: 100;
    right: 11%;
    padding-top: 10px;
    padding-left: 25px;
}
.right7:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 31px solid transparent;
    border-bottom: 20px solid #a4a4a4;
    position: absolute;
    top: -20px;
    left: 50%;
}

.right7>.button {
    margin:auto;
    width: 165px;
    height: 30px;
    line-height:30px;
    background-color: #a9bee2;
    border-radius: 5px;
    color: #000;
    z-index: 101;
    margin:10px 0 10px 0;
    cursor: pointer;
}

select option {
    background-color: #122028;
}

.main {
    background-color: #26343C;
}

.main-top {
    position: relative;
    height: 351px;
    overflow: hidden;
}

.main-top-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    margin-right: 10px;
}

.main-top-left .detail {
    background-color: #122028;
    height: 260px;
}

.main-top tbody tr {
    height: 17px!important;
}

.main-top tbody td {
    font-size: 12px;
    color: #5E6C75;
    line-height: 17px;
    text-align: right;
}

.main-top tbody tr:hover {
    background-color: #AAB9C2;
}

.title {
    padding: 0 10px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    background-color: #112644;
    color: #fff;
    border-bottom: 1px solid #333;
}
.chart-box .title{ width: 54%; }
.title-close {
    padding: 0 10px;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    background-color: #26343C;
    color: #fff;
}

.title-time {
    float: right;
    text-align: right;
    color: #5E6C75;
}

.total {
    padding: 16px 15px;
    background-color: #4b588a;
    font-size: 12px;
    margin-bottom: 4px;
    border-radius: 3px;
}

.total .topic {
    /*float: left;*/
    text-align: left;
    color: #2dbbff;
    font-size: 14px;
}

.total .num {
    /*float: right;*/
    text-align: right;
    color: #fff;
    font-size: 14px;
}
.balance-show{
    margin-bottom: 8px
}
.total .input-group .form-control{
    width:95%;
    border-radius: 4px;
}

.total .input-group-btn button{
    width:120px;
    border-radius: 4px !important;
    color: #fff;
    background: #078cff;
    background: -moz-linear-gradient(top, #078cff 39%, #1a75ed 63%);
    background: -webkit-linear-gradient(top, #078cff 39%,#1a75ed 63%);
    background: linear-gradient(to bottom, #078cff 39%,#1a75ed 63%);
}

.tab {
    float: left;
    width: 50%;
    color: #5e6c75;
    border-color: #5e6c75;
    border-bottom: 2px solid #5E6C75;
    text-align: center;
    font-size: 12px;
    line-height: 36px;
}

.tab.current {
    color: #fff;
    border-color: #fff;
}

.tab-item {
    padding: 15px;
    height: 320px;
}

.tab-item>div {
    position: relative;
    margin-top: 20px;
    height: 24px;
    border-bottom: 1px solid #5E6C75;
}

.label {
    position: absolute;
    right: 0;
    overflow: visible;
    font-size: 12px;
    line-height: 17px;
    color: #5E6C75;
    text-align: right;
}

.tab-item input {
    width: 200px;
    font-size: 16px;
    margin-right: 5px;
    color: #0f8dbc;
    background-color: transparent;
    border: 0;
}

:-moz-placeholder {
    color: #5E6C75;
    opacity: 1;
    letter-spacing: 1px;
    font-size: 0.9em;
}

::-moz-placeholder {
    color: #5E6C75;
    opacity: 1;
    letter-spacing: 1px;
    font-size: 0.9em;
}

input:-ms-input-placeholder {
    color: #5E6C75;
    opacity: 1;
    letter-spacing: 1px;
    font-size: 0.9em;
}

input::-webkit-input-placeholder {
    color: #5E6C75;
    opacity: 1;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.buy-btn {
    margin-top: 5px;
    /* padding-bottom: 53px; */
    float: left;
}

.buy-btn #buy-btn {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: #5671c0;
}

.sell-btn {
    margin-top: 5px;
    /* padding-bottom: 53px; */
    float: right;
}

.sell-btn #sell-btn {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: #db0000;
}

.sell-btn #sell-btn[disabled="true"],
.buy-btn #buy-btn[disabled="true"] {
    background-color: #999999;
}
.main-top-right {
    /* margin-left: 310px; */
    margin-left: 660px;

}

.main-top-right .form-area {
    background-color: #122028;
    color: #fff;
    height: 330px;
}

.main-bottom {
    position: relative;
    background:  #26343C;
    min-height: 400px;
}

.main-bottom-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    margin-right: 10px;
}

.main-bottom-middle {
    position: absolute;
    /* left: 310px; */
    left:660px;
    top: 0;
    /* width: 630px; */
    min-width: 70px;
    margin-right: 10px;
}
.main-bottom td:first-child {
    text-align: center;
}
.main-bottom-right {
    /* margin-left: 950px;
    min-width:616px; */
    /* margin-left: 870px;
    min-width:450px; */
    margin-left: 310px;
    min-width:340px;
    position: absolute;
}

.open-order{
    width:50%;
}  
.main-bottom-right table {
    width: 100%;
    height: 100%;
  }
  
.main-bottom-right thead {
    border-bottom: 1px solid #26343C
}
.main-bottom-right thead th {
    line-height: 36px;
    font-size: 12px;
    color: #AAB9C2;
    text-align: center;
    font-weight: normal;
}

.main-bottom-right2{
    margin-left: 950px;
    min-width:320px;
}

.summary {
    color: #0f8dbc;
}

.main-bottom table {
    width: 100%;
    height: 100%;
}

.table-container {
    overflow: auto;
    border-right: 1px solid #122028;
}

.main-bottom thead {
    border-bottom: 1px solid #26343C;
}

.main-bottom thead th {
    line-height: 36px;
    font-size: 12px;
    color: #AAB9C2;
    text-align: center;
    font-weight: normal;
}

.main-bottom tbody tr {
    height: 17px!important;
}

.main-bottom tbody td {
    font-size: 12px;
    color: #5E6C75;
    line-height: 17px;
    text-align: right;
}

.main-bottom tbody tr:hover {
    background-color: #AAB9C2;
}

.red {
    color: #ff435a!important;
}

.white {
    color: #fff;
}

.blue {
    color: #0f8dbc;
}

.main-table {
    background-color: #122028;
    color: #738396;
    font-size: 12px;
    height: 100%;
    width: 100%;
}
.main-table th {
    line-height: 22px;
}

.main-bottom-right .left-table,
.main-bottom-right .right-table {
    float: left;
    /* width: 50%; */
    width: 100%;
    border-right: 1px solid #26343C;
    box-sizing: border-box;
}

.table-box {
    background-color: #202731;
    height: 527px;
}

th {
    text-align: center;
}

.amount{
    color: #fff;
}

/*//*/
.toast {
    background-color: #fff;
    height: 250px;
    padding:0px 20px;
    position: absolute;
    width: 100%;
    top: 50px;
}

.toast>.toast-c {
    padding-top: 20px;
    padding-bottom:20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.depth-buy{
    background-color:#0f8dbc;
    opacity:0.3;
    position:absolute;
    right:0;
    left:auto;
    top:0;
    bottom:0;
    width:0px;
}
.depth-sell{
    /*background-color:#ff435a;*/
    opacity:0.3;
    position:absolute;
    right:0;
    left:auto;
    top:0;
    bottom:0;
    width:0px;
}

/*------2018新增樣式------------*/
body{min-width: initial !important;}
.left-block{
    float: left;
}
.right-block{
    float: right;
}
.box-graph{}
.btn-user{
    padding: 10px 0;
    float: right;
    position: absolute;
    right: 260px;
    z-index: 1000;
}
.btn-user .card-drop > .toggle{
    background: #122652;
    height: 55px !important;
    background: #104772;
    background: -moz-linear-gradient(top, #104772 32%, #122652 90%);
    background: -webkit-linear-gradient(top, #104772 32%,#122652 90%);
    background: linear-gradient(to bottom, #104772 32%,#122652 90%);
}
.box-balance{
    position: absolute;
    left: 53.25%;
    z-index: 999;
    width: 47.7%;
    padding: 0 1%;
}
.box-balance .tab-item{
    height: 258px;
}
.box-history {
    width: 18.5%;
    height: 498px;
    max-height: 590px;
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 54px;
    right: 0;
    margin: 0;
}
.box-history .table-container{
    overflow: initial;
}
.box-history th{
    text-align: center;
}
.box-history td{
    text-align: center;
    padding: 0 1%;
} 
.box-buy {
    position: absolute;
    top: 54px;
    left: 53.25%;
    width: 29%;
    padding: 0 1%;
    color: #ddd;
    height: 278px;
    z-index: 999;
    overflow: hidden;
}
.box-buy .table-container{
    overflow: hidden;    
}
.box-buy .main-table th{
    text-align: center;
    font-size: 12px;
    padding: 1px 4px;
    /*
    width: 33%;
    display: inline-block;
    */
    border: thin solid #272a2f;
}
.box-buy .main-table td{
    text-align: center;
    font-size: 12px;
    padding: 1px 4px;
    color: #64a8d8;
    /*
    width: 33%;
    display: inline-block;
    */
}
.box-sell {
    position: absolute;
    top: 327px;
    left: 53.25%;
    width: 29%;
    padding: 0 1%;
    color: #ddd;
    height: 278px;
    z-index: 999;
    overflow: hidden;
}
.box-sell .main-table th{
    text-align: center;
    font-size: 12px;
    padding: 1px 4px;
    /*
    width: 33%;
    display: inline-block;
    */
    border: thin solid #272a2f;
}
.box-sell .main-table td{
    text-align: center;
    font-size: 12px;
    padding: 1px;
    /*
    display: inline-block;
    width: 33%;
    */
}
.box-myOrder{}

.main-top-right {
     margin-right: initial; 
    padding-right: 345px;
}
.main-top-left-inner .detail {
    background-color: #202731;
}
body, #app{overflow: initial !important;}
.form-area {
    width: 54%; 
}
.form-area #container{
    height: 478px !important;
}
#container {
    background-color: #202731;
}
.box-openorder {
    width: 54%;
    height: 380px;
    position: absolute;
    left: 0;
}
.box-openorder .table-box{
    height:279px !important;
}

.buy-btn {
    width: 65%;
    margin-left: 8px;
}
.buy-btn > a {
    width: 100%;
    background: #0f8dbc;

}
.sell-btn {
    width: 65%;
    margin-right: 8px;
}
.sell-btn > a {
    width: 100%;    
    background: #e44d5c;

}

/*图表*/
.balance-box{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.modal-header {
    color: #fff;
    background-color: #384a8c;
}
.modal-body {
    background-color: #4a5a96;
}
.modal-footer {
     border: none;
    background-color: #4a5a96;
}
.modal-header {
    border-color: #495ea9;
}
.close,
.close:focus,
.close:hover{
    color:#fff;
}
#login-page #formContainer {
    border: none;
    background: #424f80;
    padding: 22px 30px 28px;
}
.tips-word {
    color: #b3d6ef;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
}
.card-drop a {
    line-height: 62px;
    color: #ffffff;
    border-color: #112644;
}
#exchange-form {
    color: #fff;
}
.card-drop a{
    color: #b0daff !important;
    background-color: #296cb1 !important;
}
.card-drop ul li a:hover {
    background-color: #2678bf !important;
}
.balance-total {
    font-size: 12px;
    height: 61px;
    line-height: 61px;
    background-color: #252e3a;
}
.balance-total .topic {
    color: #3da6d8;
    padding: 0 8px 0 26px;
}
.balance-total .num{
    color:#b5e5f7;    
}
.elot-box{display: inline-block; width:49%;}
.eth-box {
    display: inline-block;
    width: 49%;
    border-left: 2px solid #19262d;
}

.modal-body {
    padding-bottom: 36px;
}

.alert.alert-warning {
    background: #fdfdfd !important;
}
.alert.alert-warning > input {
    width: 100%;
    background: transparent;
    border: none;
}