<div class="table-box" style="width: 100%;table-layout: fixed;">
    <div class="table-container">
        <table class="main-table tradeHistoryTable">
            <thead>
                <tr>
                    <th style="padding-left: 30px;">{{'Date'|translate }}</th>
                    <th style="padding-left: 30px;">{{'Price'|translate }}</th>
                    <th style="padding-left: 18px;">{{'Amount'|translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="historyPrice in container.market.tradeHistoryShow | limitTo : 14 track by $index">
                    <td>{{historyPrice.Date| date:"HH:mm:ss"}}</td>
                    <td ng-if="historyPrice.BuyOrSell==true" class="num-red">{{historyPrice.Price | number : 8}}</td>
                    <td ng-if="historyPrice.BuyOrSell==false" class="num-green">{{historyPrice.Price | number : 8}}</td>
                    <td class="amount" style="color:#fff">{{historyPrice.Amount | number : 2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>