html,
body,
#app {
    width: 100%;
    height: 100%;
    /*background-color: #122028;*/
    background-color: #dddddd;
    overflow: auto;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', 'PingFangTC', 'Arial', 'Heiti TC', 'Microsoft Jhenghei', sans-serif;
    letter-spacing: 1px;
    min-width: 1366px;
}

.bootbox-body{
  color: black;
}
::selection {
    background-color: #dddddd;
    color: #000;
    text-shadow: none;
}

.header {
    width: 100%;
    height: 60px;
    overflow: hidden;
    z-index: 3;
    border-bottom: 1px solid #e39706;
}

.header>div {
    /*float: left;*/
}

.logo {
    float: left;
    position: relative;
    padding: 0 10px;
    z-index: 1;
}

.logo-inner {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.logo:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo img {
    width: 64px;
    height: 64px;
}

.header-right-inner>div {
    float: left;
}

.right1 {
    width: 160px;
    height: 100%;
    margin-right: 15px;
    position: relative;
    z-index: 2;
    border-left: 1px solid rgba(94, 108, 117, .3);
    border-right: 1px solid rgba(94, 108, 117, .3);
}

.right1 .word {
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
}

.right1 .word:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0f8dbc;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
    opacity: 0;
    z-index: -1;
}

.right1 .word:hover:after {
    opacity: 0.3;
}

.right1 .word span {
    display: inline-block;
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #AAB9C2;
    line-height: 17px;
}

.right1 .word div {
    height: 17px;
}

.right2,
.right3 {
    padding: 10px 15px 5px 15px;
    font-size: 18px;
}

.right2 .little {
    color: #0f8dbc;
    transition: .2s color;
}

.small {
    height: 17px;
}

.small span {
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #5E6C75;
}

.right3 .percent {
    color: #0f8dbc;
    font-size: 18px;
}

.right4 {
    padding: 5px 15px;
}

.right4-inner {
    position: relative;
    padding: 10px 15px;
}

.right4-inner .name a {
    font-size: 18px;
    color: #0f8dbc;
}

.user-img {
    position: absolute;
    top: 10px;
    margin-right: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(94, 108, 117);
}

.right4-inner select {
    margin-left: 30px;
}

.right5 {
    padding: 10px 0;
    float: right !important;
    padding: 10px 40px 5px 20px;
}

.right5 .word {
    /*padding: 10px 15px;*/
    font-size: 18px;
    color: #fff;
}

.right5 .word:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0f8dbc;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
    opacity: 0;
    z-index: -1;
}

.right5 .word:hover:after {
    opacity: 0.3;
}

.right5 .word span {
    display: inline-block;
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #AAB9C2;
    line-height: 17px;
}

.right5 .word div {
    height: 17px;
}

.right6 {
    padding: 20px 0;
    color: #fff;
    float: right !important;
}

select {
    color: #0f8dbc;
    border: 0px solid rgb(169, 169, 169);
    overflow: visible;
    font-family: Arial;
    background-color: transparent;
    font-size: 18px;
}

select option {
    background-color: #122028;
}

.main {
    /*background-color: #26343C;*/
    background-color: #ffffff;
}

.main-top {
    position: relative;
    height: 351px;
    overflow: hidden;
}

.main-top-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    margin-right: 10px;
}

.main-top-left .detail {
    /*background-color: #122028;*/
    background-color: #dddddd;
    /*#dcecec;*/
    background-image: linear-gradient(#dddddd, #fff);
    border: 1px solid #dddddd;
}

.title {
    padding: 0 10px;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    color: #1e2324;
    /*#0b7076*/
}

.title-close {
    padding: 0 10px;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    background-color: #26343C;
    /*color: #fff;*/
}

.title-time {
    float: right;
    text-align: right;
    color: #5E6C75;
}

.total {
    padding: 10px 15px;
    margin-bottom: 5px;
    /*background-color: #122028;*/
    background-color: #dddddd;
    font-size: 12px;
    color: #1e2324;
}

.total .topic {
    float: left;
    text-align: left;
}

.total .num {
    float: right;
    text-align: right;
}

.tab {
    float: left;
    width: 50%;
    color: #5e6c75;
    border-color: #5e6c75;
    border-bottom: 2px solid #5E6C75;
    text-align: center;
    font-size: 12px;
    line-height: 36px;
}

.tab.current {
    color: #52a159;
    border-color: #52a159;
}

.tab-item {
    padding: 15px;
}

.tab-item>div {
    position: relative;
    margin-top: 20px;
    height: 24px;
    border-bottom: 1px solid #5E6C75;
}

.label {
    position: absolute;
    right: 0;
    /*width: 34px;*/
    overflow: visible;
    font-size: 12px;
    line-height: 17px;
    color: #5E6C75;
    text-align: right;
}

.tab-item input {
    width: 200px;
    font-size: 16px;
    margin-right: 5px;
    color: #0f8dbc;
    background-color: transparent;
    border: 0;
}

:-moz-placeholder {
    color: #5E6C75;
    opacity: 1;
    letter-spacing: 1px
}

::-moz-placeholder {
    color: #5E6C75;
    opacity: 1;
    letter-spacing: 1px;
}

input:-ms-input-placeholder {
    color: #5E6C75;
    opacity: 1;
    letter-spacing: 1px;
}

input::-webkit-input-placeholder {
    color: #5E6C75;
    opacity: 1;
    letter-spacing: 1px;
}

.buy-btn {
    margin-top: 5px;
    padding-bottom: 53px;
    float: left;
}

.buy-btn #buy-btn {
    display: block;
    width: 270px;
    height: 34px;
    /*margin: 0 auto;*/
    font-size: 18px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    background-color: #0f8dbc;
}

.sell-btn {
    margin-top: 5px;
    padding-bottom: 53px;
    float: right;
}

.sell-btn #sell-btn {
    display: block;
    width: 270px;
    height: 34px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    background-color: #a94442;
}

.sell-btn #sell-btn[disabled="true"],
.buy-btn #buy-btn[disabled="true"] {
    background-color: #999999;
}

.main-top-right {
    margin-left: 310px;
}

.main-top-right .form-area {
    background-color: #fff;
    color: rgb(14, 13, 13);
    height: 330px;
}

.main-bottom {
    position: relative;
}

.main-bottom-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    margin-right: 10px;
}

.main-bottom-middle {
    position: absolute;
    left: 310px;
    top: 0;
    width: 564px;
    margin-right: 10px;
}

.main-bottom-right {
    margin-left: 884px;
}

.summary {
    color: #0f8dbc;
}

.main-bottom table {
    width: 100%;
    height: 100%;
}

.table-container {
    overflow: auto;
}

.main-bottom thead {
    background-color: #dddddd;
    border-bottom: 1px solid #e39706;
}

.main-bottom thead th {
    line-height: 36px;
    font-size: 12px;
    color: #5e6c75;
    text-align: center;
    font-weight: normal;
}

.main-bottom tbody tr {
    height: 17px!important;
}

.main-bottom tbody td {
    font-size: 12px;
    color: #5E6C75;
    line-height: 17px;
    text-align: center;
}

.main-bottom tbody tr:hover {
    background-color: #AAB9C2;
}

.red {
    color: #ff435a!important;
}

.white {
    color: #fff;
}

.blue {
    color: #0f8dbc;
}

table {
    background-color: #fff;
    height: 100%;
}

.main-bottom-right .left-table,
.main-bottom-right .right-table {
    float: left;
    width: 50%;
    border-right: 1px solid #dddddd;
    box-sizing: border-box;
}

.table-box {
    background-color: #fff;
    /*background-image: linear-gradient(#dcecec, #fff);*/
    border: 1px solid #dddddd;
}

th {
    text-align: center;
}