body {
    color: #242729;
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.modal-header {
    color: rgb(17, 17, 17)
}

.modal-content {
    background-color: #fff;
    color: #242729
}

#content {
    padding: 24px 15px;
    box-sizing: content-box;
    width: 1060px;
    background-color: #fff;
    margin: 0 auto;
}

#login-page a {
    text-decoration: none;
    color: #07C;
}

.subheader {
    margin-bottom: 10px;
    height: 40px;
    border-bottom: 1px solid #e4e6e8;
    clear: both;
}

#tabs {
    float: left;
}

#tabs a {
    position: relative;
    padding: 13px 10px;
    background-color: #fff;
    color: #848d95;
    border: 1px solid transparent;
    font-size: 12px;
    float: left;
    margin-right: 8px;
    line-height: 1;
    text-decoration: none;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

#tabs a.current {
    padding-bottom: 14px;
    font-weight: 400;
    border-color: #e4e6e8;
    border-bottom-color: transparent;
    color: #242729;
}

#content a:before,
#content a:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 2px;
    background-color: transparent;
}

#tabs a.current:before {
    background-color: #f69c55;
}

.login-page {
    text-align: center;
}

#login-page #explanation-text {
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 15px;
    text-align: center;
    color: rgb(10, 10, 10);
}

#login-page #explanation-text img {
    width: 150px;
    height: 30px;
    position: relative;
    top: 4px;
    margin-right: -5px;
}

#login-page #formContainer {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #dddddd;
    background: #dddddd;
}

#login-page .major-provider.google-login {
    background-color: #dddddd;
}

#login-page .major-provider {
    cursor: pointer;
    border-radius: 3px;
    width: 136px;
    height: 38px;
    line-height: 36px;
    float: left;
    margin: 8px 2px;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-align: center;
}

#login-page .major-provider .icon-container {
    border-right: 1px solid rgba(12, 13, 14, 0.1);
    box-sizing: border-box;
    width: 38px;
    height: 100%;
    line-height: 1;
    padding: 10px 0;
    float: left;
}

#login-page .google-login .icon {
    margin-top: 2px;
    background: url(../image/google-plus.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 14px;
}

#login-page .major-provider .text {
    color: #fff;
}

#login-page .major-provider.facebook-login {
    background-color: #395697;
}

#login-page .facebook-login .icon {
    background: url(../image/facebook_icon.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

#login-page .major-provider .text {
    color: #fff;
}

#login-page .or-container {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    clear: both;
    color: #6a737c;
    font-variant: small-caps;
}

#login-page .or-hr {
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #e4e6e8;
}

#login-page #or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #fff;
}

#login-page #login-form {
    text-align: left;
}

#login-page label {
    font-weight: bold;
    line-height: 16px;
    color: rgb(12, 12, 12);
}

#login-page #login-form input {
    margin: 5px 0 5px 0;
    transition: none;
}

#login-page #login-form input[type=email],
#login-page #login-form input[type=password],
#login-page #login-form input[type=text] {
    width: 100%;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    border-radius: 0;
    cursor: auto !important;
    border: 1px solid #e4e6e8;
    vertical-align: baseline;
}

#login-page #login-form input[type=email]:hover,
#login-page #login-form input[type=email]:focus,
#login-page #login-form input[type=password]:hover,
#login-page #login-form input[type=password]:focus,
#login-page #login-form input[type=text]:hover,
#login-page #login-form input[type=text]:focus {
    border: 1px solid lightblue;
}

#login-page #forgot-pw {
    position: relative;
    top: -3px;
    color: #9fa6ad;
    font-size: 12px;
    font-weight: normal;
    float: right!important;
    line-height: 17px;
}

#login-page #more-options-link {
    position: relative;
    top: 15px;
    cursor: pointer;
    color: #07C;
    text-decoration: none;
    text-align: left;
}

#login-page input[type=button] {
    text-align: center;
    background: #0f8dbc;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    padding: 12px 40px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0 !important;
    position: relative;
    /*left: 40px;*/
    float: right;
}

#login-page #switch {
    padding: 20px;
    color: rgb(10, 10, 10);
    border: 1px solid #dddddd;
    width: 300px;
    margin: 20px auto 100px auto;
    background: #dddddd;
    font-size: 100%;
    text-align: center;
    line-height: 21px;
}