<div>
    <div class="table-box" style="height: 320px;">
        <div class="table-container">
            <table class="main-table">
                <thead>
                    <tr>
                        <th>{{'Date'|translate }}</th>
                        <th>{{'Amount'|translate }}</th>
                        <th>{{'Total'|translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tradedOrder in container.market.finishedOrderShow | limitTo : 10 track by $index ">
                        <td>{{tradedOrder.time | date:'HH:mm:ss'}}</td>
                        <td style="color:#fff">{{tradedOrder.deal_stock | number : 2}}</td>
                        <td ng-if="tradedOrder.side==1" style="color: red">{{tradedOrder.deal_money | number : 8}}</td>
                        <td ng-if="tradedOrder.side==2" style="color: green">{{tradedOrder.deal_money | number : 8}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>