<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="Exchange Center is Decentralized exchange built on Ethereum.">
        <link href="styles/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/fontawesome-all.min.css" >
        <link href="styles/theme_default/login.css" rel="stylesheet">
        <link href="styles/theme_default/reset.min.css" rel="stylesheet">
        <link href="styles/theme_default/index.css" rel="stylesheet">
        <link href="main/style.css" rel="stylesheet">
        <link href="main/new.css" rel="stylesheet">
        <link rel="icon" href="images/logo.png" type="image/x-icon" />
        <title>Exchange Center</title>
    </head>
    <body>
        <div id="app">
            <div ng-app="mainModule" ng-controller="mainController">
                <div id="loading">
                    <div id="loader"></div>
                </div>
                <div ng-controller="dataController">
                       <div class="header" ng-controller="headerController">
                                <exchage-header></exchage-header>
                                    <div class="r chart-box" ng-controller="marketController">
                                        <market-price-chart></market-price-chart>
                                    </div>

                                    <div class="mainlist-tab large-dis">
                                        <ul id="myTab" class="nav nav-tabs tab-bar">
                                            <li class="tab-1 active"><a href="#orderbook" data-toggle="tab"><i class="fa fa-bandcamp"></i>买入深度</a></li>
                                            <li class="tab-1"><a href="#orderbook2" data-toggle="tab"><i class="fa fa-gg-circle "></i>卖出深度</a></li>
                                            <li class="tab-1"><a href="#tradehistory" data-toggle="tab"><i class="fa fa-reddit"></i>成交记录</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content clearfix">
                                            <div class="tab-pane fade in active" id="orderbook">
                                                <div class="box-buy">
                                                    <order-book></order-book>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="orderbook2">
                                                <div class="box-sell">
                                                    <order-book2></order-book2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-buy min-dis">
                                        <order-book></order-book>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="box-balance min-dis">
                                        <div class="main-top-left-inner">
                                            <balance></balance>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="box-history min-dis">
                                                {{'Market History'|translate }}
                                                <span class="summary">{{user.balance.marketbuy}}-{{user.balance.marketsell}}</span>
                                                <trade-history></trade-history>
                                        </div>
                                        <div class="box-sell min-dis">
                                            <order-book2></order-book2>
                                        </div>
                                        <div class="box-openorder min-dis">
                                            <open-orders></open-orders>
                                        </div>
                                    </div>
                               
                            </div> 





                  
                </div>
            </div>
        </div>
       
</body>
<script src="/home/module/mobileScroll.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/ngStorage.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="lib/angular-translate.min.js"></script>
<script src="lib/angular-translate-loader-static-files.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/ui-bootstrap-tpls.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/bootbox.js"></script>
<script src="js/style/style.js"></script>
<script src="lib/main/highstock.js"></script>
<script src="lib/main/exporting.js"></script>
<script src="lib/main/dark-unica.src.js" id="highcharts-dark"></script>
<script src="lib/main/angular-sessionstorage.js"></script>
<script src="lib/main/angular-uuid2.min.js"></script>
<script src="lib/main/buffer.min.js" type="text/javascript"></script>
<script src="lib/main/lodash.min.js"></script>
<script src="js/style/js.cookie.js"></script>
<script src="main/marketPriceChart/marketPriceChart.js"></script>
<script src="main/header/header.js"></script>
<script src="main/mainModule.js"></script>
<script src="main/dataModule.js"></script>
<script src="config_dev.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.14.2/math.min.js"></script>
<script src="js/math/BigDecimal-all-last.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://datapush.developblockchain.net/js/dependencies/sails.io.js" autoConnect="true" environment="production">
    io.sails.url = 'https://datapush.developblockchain.net/';
</script>
</html>