
  <div class="title">
        <span>{{'My Orders'|translate }}</span>
        <span class="summary">({{container.user.openOrdersCnt}})</span>
    </div>
    <div style="height: 39px;background-color: #122028">
            <a href="" ng-click="show=true;" ng-init="show=true;">
              <span ng-if="show==true " class="tab current open-order">{{'Open Orders'|translate}}</span>
              <span ng-if="show==false" class="tab open-order">{{'Open Orders'|translate }}</span>
            </a>
            <a href="" ng-click="show=false; ">
              <span ng-if="show==true " class="tab open-order">{{'My History'|translate}}</span>
              <span ng-if="show==false " class="tab current open-order">{{'My History'|translate }}</span>
            </a>
          </div>
       
        <div class="table-box" style="height:321px;" ng-if="show==true">
          <div class="table-container">
            <table class="main-table">
                <thead>
                    <tr>
                        <th style="width:80px;">{{'Date'|translate }}</th>
                        <th style="width:50px;">{{'Type'|translate }}</th>
                        <th style="width:55px;">{{'Amount'|translate }}</th>
                        <th style="width:55px;">{{'Filled'|translate }}</th>
                        <th style="width:60px;">{{'Price'|translate }}</th>
                        <th style="width:80px;">{{'Total'|translate }}</th>
                        <th style="width:40px;padding-right: 10px;">{{'Cancel'|translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="openOrder in container.user.openOrders track by $index">
                        <td style="text-align:center;">
                        {{openOrder.Date | date:"HH:mm:ss"}}</td>

                        <td style="text-align:center;" ng-if="openOrder.Type==2">{{'Buy'|translate }}</td>
                        <td style="text-align:center;" ng-if="openOrder.Type==1">{{'Sell'|translate }}</td>
                        <td style="padding-right:3%;color:#fff;">{{openOrder.Amount | number : 8}}</td>
                        <td style="padding-right:3%;color:#fff;">{{openOrder.FilledAmount | number : 8}}</td>
                        <td style="padding-right:3%;color: red;" ng-if="openOrder.Type==1">{{openOrder.Price | number : 8}}</td>
                        <td style="padding-right:3%;color: green;" ng-if="openOrder.Type==2">{{openOrder.Price | number : 8}}</td>
                        <td style="padding-right:3%;">{{openOrder.Total | number : 8}}</td>
                        <td style="text-align:center;padding-right: 10px;">
                            <button ng-if="openOrder.Cancel==false" type="button" class="btn btn-primary" style="width:70px;height:20px;text-align:center;line-height:0px;" ng-click="cancel(openOrder.orderid);" autocomplete="off">{{'Cancel'|translate }}</button>
                            <span ng-if="openOrder.Cancel==true">{{'Cancelled'|translate }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
          <div class="table-box" ng-if="show==false">
            <div class="table-container">
              <table class="main-table tradeHistoryTable">
                <thead>
                <tr>
                  <th style="padding-left: 0px;">{{'Date'|translate }}</th>
                  <th style="padding-left: 0px;">{{'Type'|translate }}</th>
                  <th style="padding-left: 40px;">{{'Amount'|translate }}</th>
                  <th style="padding-left: 40px;">{{'Price'|translate }}</th>
                  <th style="padding-left: 40px;">{{'Total'|translate }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tradedOrder in container.user.finishedOrder | limitTo : 10 track by $index ">
                        <td>{{tradedOrder.time | date:'HH:mm:ss'}}</td>
                        <td style="text-align:center;" ng-if="tradedOrder.side==2">{{'Buy'|translate }}</td>
                        <td style="text-align:center;" ng-if="tradedOrder.side==1">{{'Sell'|translate }}</td>
                        <td style="color:#fff">{{tradedOrder.deal_stock | number : 8}}</td>
                        <td ng-if="tradedOrder.side==1" style="color: red">{{tradedOrder.price | number : 8}}</td>
                        <td ng-if="tradedOrder.side==2" style="color: green">{{tradedOrder.price | number : 8}}</td>
                        <td style="padding-right: 10px;">{{tradedOrder.deal_money | number : 8}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>