
    <div class="logo" ng-click="showHome()" style="cursor: pointer;">
        <span class="logo-inner">
            <img src="../../images/logo.png" alt="">
        </span>
    </div>

    <div class="header-top min-dis">
      <div class="header-right ">
          <div class="header-right-inner">
              <div class="right5">
                  <div class="word">
                      <select style="color: #0f8dbc;"ng-model="c_lang" ng-change="switch_language(c_lang)" ng-options="c_lang.value as c_lang.name for c_lang in languages" ng-selected="c_lang.value==c_lang">
                      </select>
                      <div class=""><span>{{''|translate }}</span> </div>
                      <span class="arrow-down"></span>
                      <div class="clear"></div>
                  </div>
              </div>
              <div class="btn-user">
                <div class="card-drop">
                  <a class='toggle' href="#" style="width:200px;display: block;margin-top: -10px;height: 50px;" title="{{container.user.email}}">
                    <span class="label-active">
                      <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 18px;color: white; position: absolute;z-index: 1000;top: 17px;left: 31%;"></i>
                      <span class="text-account">
                        <span class="ethAdd">{{'Account'|translate }}</span>
                    </span>
                    </span>
                  </a>

                  <ul id="ul" class="">
                    <li class='active' ng-show="container.user.islogin">
                      <a  href="" data-toggle="modal" ng-click="openDeposit()" >{{'Deposit'|translate }}</a>
                    </li>
                    <li class='active' ng-show="container.user.islogin">
                      <a  href="" data-toggle="modal" ng-click="showWithdrawModal()">{{'Withdraw'|translate }}</a>
                    </li>
                    <li class='active' ng-show="container.user.islogin">
                      <a  href="" data-toggle="modal" ng-click="showTransactionModal()">{{'Transactions'|translate }}</a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
    <deposite></deposite>
    <exchange></exchange>
    <withdraw></withdraw>


    <div class="info-header">
        <div class="hearder-title2">
            <div class="word">
                <select name="pairSelect" id="pairSelect" class="select-title" ng-model="container.params.sel_market" ng-change="pairChange()">
                    <option ng-repeat="pair in container.params.pairs" ng-value="pair">{{pair}}</option>
                </select>
                <span class="select-word">{{'Select Pairs'|translate }}</span>
            </div>
            <span class="arrow-down"></span>
            <div class="clear"></div>
        </div>
        <div class="clearfix"></div>
        <div class="inline-box">
            <span class="little">{{container.market.header.last|number:4}}</span>
            <span class="num-title">{{'Last trade price'|translate }}</span>
        </div>
        <div class="inline-box">
            <span class="percent">{{container.market.changeRate|number:2}}%</span>
            <span class="num-title">{{'24h Change'|translate }}</span>
        </div>
        <div class="clearfix"></div>
    </div>

