
    <div class="title">
        <span class="balance">{{'Balance'|translate }}</span>
        <span class="title-time">{{balace.dateTimeNow | date:'MM/dd/yyyy h:mma'}}</span>
    </div>

    <div class="balance-total">
        <div class="elot-box">
            <span class="topic">{{container.params.money}}</span>
            <span class="num">{{container.user.traderBalance[container.params.money].available || '0' | limitTo : 6 }}</span>
        </div>
        <div class="eth-box">
            <span class="topic">{{container.params.asset}}</span>
            <span class="num">{{container.user.traderBalance[container.params.asset].available||'0'}}</span>
        </div>
    </div>

    <div class="detail" style="overflow:hidden;">
        <div class="tab-item balance-box">
            <div>
                <label class="label" for="buy-price" ng-model="priceMsgs">{{priceMsgs}} {{'Price'|translate }}</label>
                <input id ="buy-price" type="text" ng-model="container.putOrder.input_price_buy" ng-change="calculateBuy($event)" limit-to="12,{{container.params.marketDecimal[container.params.market][container.params.money]}}" placeholder="{{ 'Price' |translate }}">
            </div>
            <div>
                <label class="label" for="buy-amount">{{'Amount'|translate }}</label>
                <input id ="buy-amount" type="text" ng-model="container.putOrder.input_amount_buy" limit-to="12,{{container.params.marketDecimal[container.params.market][container.params.asset]}}"  ng-change="calculateBuy($event)" placeholder="{{ 'Amount to buy' |translate }}">
            </div>
            <!-- 百分比 -->
            <div>
                <label class="precent-button"><a href="javascript:void 0;" ng-click="buyParse('0.25')">25%</a></label>
                <label class="precent-button"><a href="javascript:void 0;" ng-click="buyParse('0.50')">50%</a></label>
                <label class="precent-button"><a href="javascript:void 0;" ng-click="buyParse('0.75')">75%</a></label>
                <label class="precent-button"><a href="javascript:void 0;" ng-click="buyParse('1.00')">100%</a></label>
            </div>
            <div>
                <label class="label" for="pay">{{container.params.money}}</label>
                <input type="text" ng-model="container.putOrder.yourpaybuy" readonly name="" placeholder="{{ 'Your pay' |translate }}">
            </div>
            <div class="buy-btn">
                <button id="buy-btn" type="button" ng-click="buy()" disabled="true">{{'BUY'|translate }}</button>
            </div>
        </div>



        <div class="tab-item balance-box">
            <div>
                <label class="label" for="sell-price" ng-model="priceMsg">{{ priceMsg }} {{'Price'|translate }}</label>
                <input id ="sell-price" type="text" ng-model="container.putOrder.input_price_sell" ng-change="calculateSell()" limit-to="12,{{container.params.marketDecimal[container.params.market][container.params.money]}}" placeholder="{{'Price'|translate}}">
            </div>
            <div>
                <label class="label" for="sell-amount" ng-model="amountMsg">{{ amountMsg }} {{'Amount'|translate }}</label>
                <input id ="sell-price" type="text" ng-model="container.putOrder.input_amount_sell" ng-change="calculateSell()" limit-to="12,{{container.params.marketDecimal[container.params.market][container.params.asset]}}"  placeholder="{{'Amount to sell'|translate}}">
            </div>
            <!-- 百分比 -->
            <div>
                <label class="precent-button"><a href="javascript:void 0;" ng-click="sellParse('0.25')">25%</a></label>
                <label class="precent-button"><a href="javascript:void 0;" ng-click="sellParse('0.50')">50%</a></label>
                <label class="precent-button"><a href="javascript:void 0;" ng-click="sellParse('0.75')">75%</a></label>
                <label class="precent-button"><a href="javascript:void 0;" ng-click="sellParse('1.00')">100%</a></label>
            </div>
            <div>
                <label class="label" for="sell">{{container.params.asset}}</label>
                <input type="text" ng-model="container.putOrder.yourpaysell" readonly name="" placeholder="{{ 'Your sell' |translate }}">
            </div>
            <div class="sell-btn">
                <button id="sell-btn" type="button" ng-click="sell()" disabled="true">{{'SELL'|translate }}</button>
            </div>
        </div>

    </div>

