<div class="title">
    <span>{{'Market Price Chart'|translate }}</span>
    <span class="summary">{{container.params.asset}}-{{container.params.money}}</span>
</div>
<div class="form-area">
    <div id="container" style="height: 400px; min-width: 310px;width:100%"></div>
</div>

