
<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    {{'Deposit'|translate}} 
                </h4>
            </div>


            <div class="modal-body">
                <div id="login-page">
                        <div id="formContainer">
                         <br/>
                                <form id="deposit-form" action="" method="POST">
                                    <div class="total">
                                        <div class="balance-show">
                                            
                                            <span class="topic">{{container.params.asset}} {{"wallet balance"|translate}}</span>
                                            <span class="num">{{container.user.wallet.balance[container.params.asset]}}
                                            ({{container.user.confirmedBlock[container.params.asset]}}/{{container.user.confirmBlockNumber[container.params.asset]}})
                                            network confirmed
                                            </span>
                                        </div>
                                        
                                        <div class="input-group">
                                            <input name="amount" type="number" limit-to="12,8" min="0" max="{{container.user.wallet.balance[container.params.asset]}}" class="form-control" ng-model="container.user.balance.deposit[container.params.asset]"
                                                placeholder="{{container.params.asset}} {{ 'Amount' |translate}}"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-secondary" type="button" ng-click="deposit( 
                                                container.params.asset , container.user.wallet[container.params.assetAccount].address,
                                                'deposit asset', container.user.balance.deposit[container.params.asset],
                                                container.user.wallet[container.params.assetAccount].privateKey)">{{'Deposit'|translate }}</button>
                                            </span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="total">
                                        <div class="balance-show">                                
                                            <span class="topic">{{ container.params.money }} {{"wallet balance" | translate}}
                                            </span>
                                            <span class="num">{{ container.user.wallet.balance[container.params.money] | limitTo : 6 }}
                                            ({{container.user.confirmedBlock[container.params.money]}} /{{container.user.confirmBlockNumber[container.params.money]}})
                                             network confirmed

                                            </span>
                                        </div>
                                        
                                        <div class="input-group">
                                            <input name="token_amount" type="number" limit-to="12,8" min="0" max="{{container.user.wallet.balance[container.params.money]}}" class="form-control" ng-model="container.user.wallet.deposit[container.params.money]"
                                                placeholder="{{container.params.money}} {{ 'Amount' |translate}}"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-secondary" ng-disabled="depositForm.token_amount.$dirty && depositForm.token_amount.$invalid" type="button" 
                                                ng-click="deposit( 
                                                container.params.money , container.user.wallet[container.params.moneyAccount].address,
                                                'deposit money', container.user.wallet.deposit[container.params.money],
                                                container.user.wallet[container.params.moneyAccount].privateKey

                                                )" type="button">{{'Deposit'|translate }}</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                        </div>
                        <br/>
                   

                            <div id="formContainer" style="color:#fff">
                                <h1>Deposit tips:</h1>
                                <h6 class="tips-word">You tried to send an Ethereum transaction but there was an error. Make sure you have enough ETH in
                                    your wallet to pay for the gas fee. If you already have a pending transaction (enter your address
                                    on Etherscan to find out), please wait for it to confirm, or increase your "gas price" and try again.
                                </h6>
                                <br/>
                                <br/>
                            </div>
                </div>
            </div>

        </div>
    </div>
    
</div>