<div class="modal fade" id="exchangeModal"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 1500px;">
        <div class="modal-content" style="width: 1500px;">
            <div class="modal-header">
                <h4 class="modal-title" id="loginModalLabel">
                    {{'Your Exchange Record'|translate }}
                </h4>
            </div>
            <div class="modal-body">
                    <div id="formContainer">
                            <table class="table table-condensed">
                                <thead class="thead-inverse">
                                    <tr class="tx-table-header">
                                        <th>{{'Side'|translate}}</th>
                                        <th>{{'Asset'|translate}}</th>
                                        <th>{{'Amount'|translate}}</th>
                                        <th>{{'Status'|translate}}</th>
                                        <th>{{'Transaction ID'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tx-table-tr" ng-repeat="item in container.user.txs track by $index">
                                        <td  ng-if="item.side==2">{{'Withdraw'|translate}}</td>
                                        <td  ng-if="item.side==1">{{'Deposit'|translate}}</td>
                                        <td>{{item.asset|translate}}</td>
                                        <td>{{item.amount|translate}}</td>
                                        <td>{{item.status|translate}}</td>
                                        <td>
                                        <a href="{{container.params.scanner[item.asset]+item.tx}}"  target="_blank">{{item.tx}}</a>
                                        
                                        </td>
                                    </tr>
                                </tbody>
                            </table>        
                    </div>
            </div>
        </div>


    </div>
</div>