
<!-- 模态框（Modal）  ( assetname , address ,  comment , size  )  -->
<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="loginModalLabel">
                    {{'Withdraw'|translate }} 
                </h4>
            </div>
            <div class="modal-body">
                <div id="login-page">
                    <div id="formContainer">
                            <br/>                        
                        <form id="withdraw-form" >
                            <div class="total">
                                <div class="balance-show">
                                    <span class="topic">{{container.params.asset}} Exchange Center balance</span>
                                    <span class="num">{{container.user.traderBalance[container.params.asset].available}}</span>
                                </div>
                                <div class="input-group">
                                    <input name="amount" type="number" limit-to="12,8" min="0" max="{{container.user.traderBalance[container.params.asset].available}}"
                                        class="form-control" ng-model="container.user.wallet.withdraw[container.params.asset]">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button" ng-click="withdraw(container.params.asset,container.user.wallet[container.params.assetAccount].address,'withdraw asset',container.user.wallet.withdraw[container.params.asset])">{{'Withdraw'|translate }}</button>
                                    </span>
                                    
                                </div>
                                 <a href="{{container.params.scanner[container.params.asset]}}{{container.user.tx[container.params.asset].withdraw}}"  target="_blank">{{'check transaction'}}</a>
                            </div>
                            <br/>
                            <div class="total">
                                <div class="balance-show">
                                    <span class="topic">{{container.params.money}} Exchange Center balance</span>
                                    <span class="num">{{ container.user.traderBalance[container.params.money].available ||'0' | limitTo : 6 }}</span>
                                </div>
                                <!--{{balace.eth}}</span></div>-->
                                <div class="clear"></div>
                                <div class="input-group">
                                    <input  type="number" limit-to="12,8" min="0" max="{{container.user.traderBalance[container.params.money].available}}"
                                        class="form-control" ng-model="container.user.wallet.withdraw[container.params.money]">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button"
                                            ng-click="withdraw(container.params.money,container.user.wallet[container.params.moneyAccount].address,'withdraw money',container.user.wallet.withdraw[container.params.money])" type="button">{{'Withdraw'|translate }}</button>
                                    </span>
                                </div>
                                <a href="{{container.params.scanner[container.params.money]}}{{container.user.tx[container.params.money].withdraw}}"  target="_blank">{{'check transaction'}}</a>
                               
                            </div>
                             <br/>                            
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal -->
</div>

