

<div class="title min-dis">
    <span>{{'Buy Order Book'|translate }}</span>
    <span class="summary">{{container.params.asset}}-{{container.params.money}}</span>
</div>
<div class="table-box">
 <div class="table-container">
    <div class="left-table">
        <table class="main-table" style="width: 100%;table-layout: fixed;">
            <thead>
                <tr>
                    <th>{{'Amount'|translate }}</th>
                    <th>{{'Total'|translate }}</th>
                    <th>{{'Price'|translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderBook in container.market.orderBookBuy.orders | limitTo : 25 track by $index" ng-click="setBuyValue(orderBook)" style="cursor: pointer;">
                    <td class="amount" style="">{{orderBook.left | number : 8}}</td>
                    <td style="padding-right:5%">{{orderBook.left * orderBook.price | number : 8}}</td>
                    <td style="padding-right:5%">{{orderBook.price | number : 8}}</td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>